* {
    margin: 0px;
    box-sizing: border-box;
}

.containerSmart {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login {
    width: 320px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);      
}

.cifrao {
    font-size: 40px;
    color: black;
    margin-left: 95px;
    
}

.p {
    font-size: 30px;
    color: black;        
}

.ed {
    font-size: 12px;
    color: black;
    display: block;
    text-align: center;
    margin-left: 20px;
}

.logo {
    text-decoration: none;    
}

.logo:hover .p {
    color: #DEBE5F;           
}

.logo:hover .ed {
    color: #DEBE5F;
}

.logo:hover .cifrao {
    color: #DEBE5F;
}

label {    
    display: block;
    margin-top: 20px;
    
}

.form input[type="password"] {
    display: block;
    width: 100%;            
    padding: 10px;            
    outline-color: #DEBE5F;            
}


.form input[type="password"]{
   margin-top: 5px;         
}


.form button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;            
    border: none;
    background-color: lightgray; 
    border-radius: 10px;
}

.form button[type="submit"]:hover {
    background-color: #DEBE5F;
}

.assine {
    margin-top: 10px;
}

.assine a {
    text-decoration: none;
    color: black;
}

.assine a:hover {
    color: #DEBE5F;
    text-decoration: underline;
}       

.msg {    
    margin-top: 25px;
}