<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/alterar_senha.css">
    <title>Document</title>
</head>
<body>
    <div class="containerSmart login">
        <a href="home_logado.html" class="logo"><span class="cifrao">$</span><span class="p">implifica</span><span
                class="ed">Educação Financeira</span></a>
        <p class="msg">Redefinição de senha do Massa de teste</p>
        <form action="/gravacontatomodificado" method="post" th:object="${contat}" class="form">
            <label for="nome" class="a">Senha</label>                
            <input type="password" class="" >
            <label for="nome" class="">Confirmar Senha</label>                
            <input type="password" class="" th:field="*{senha}">           
            <button type="submit">Mudar Senha</button>
        </form>        
    </div>
</body>
</html>


  