<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <title>Document</title>
   
</head>

<body>
    <div class="containerSmart cadastro">
        <a href="home.html" class="logo"><span class="cifrao">$</span><span class="p">implifica</span><span
                class="ed">Educação Financeira</span></a>
        <p class="msg">Conquiste sua Liberdade Financeira!!</p>
        <form action="" class="form">
            <input type="text" id="" name="" placeholder="Nome">
            <input type="text" id="" name="" placeholder="Nome de usuário">
            <input type="email" id="" name="" placeholder="E-mail">
            <input type="password" name="" id="" placeholder="Senha">
            <div class="genero">
                <label for="">Qual é o seu gênero?</label>
            </div>
            <div class="divRadio">                
                <input type="radio" id="masculino" name="dados" value="Masculino">
                <label for="masculino">Masculino</label>
                <input type="radio" id="feminino" name="dados" value="Feminino">
                <label for="feminino">Feminino</label>
                <input type="radio" id="null" name="dados" value="Null">
                <label for="null">Prefiro não dizer</label>
            </div>
            <div class="divAniversario">
                <label for="aniversario">Qual a sua data de nascimento?</label>
                <input type="date" id="aniversario" name="aniversario" value="">
            </div>

            <input type="button" value="Inscrever-se">
        </form>
        <p class="assine">Já tem uma conta?<a href=""> Faça login</a></p>
    </div>
</body>

</html>