<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/quiz.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="home_logado.html" class="logo"><span class="cifrao">$</span><span class="p">implifica</span><span
                    class="ed">Educação Financeira</span></a>
            <ul class="nav-links">
                <li class="nav-item"><a href="#">Quiz</a></li>
                <li class="nav-item"><a href="#">Perfil</a></li>
                <li class="nav-item"><a href="#">Sair</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <img src="../static/img/semfundotransparente.png" alt="">
            <h1>Vamos começar? Escolha um tema abaixo...</h1>
            <div class="divQuiz1">
                <a th:href="@{/excluir-contato(id=${contato.id})}" class="financas">Fundamentos Básicos</a>
                <a th:href="@{/editar-contato(id=${contato.id})}" class="tesouro">Tesouro Direto</a>
            </div>           
            <div class="divQuiz2">
                <a th:href="@{/editar-contato(id=${contato.id})}" class="acoes">Ações</a>
                <a th:href="@{/editar-contato(id=${contato.id})}" class="cripto">Criptomoeda</a>
            </div>

        </div>
    </section>
    <footer class="footer">
        <small>Copyright &copy; Your Website</small>
    </footer>
</body>

</html>